.p1{
    font-size: 25px;
    position: absolute;
    margin-left: 10%;
    margin-top: 10px;
    margin-right: 10%;
}

.a1{
    text-decoration: none;
    display: block;
}
.footer-line {
    border-top: 3px solid white;
    padding: 15px 0;
    margin-top: 53%;
    position: relative;
}
.follow{
    margin-left: 80%;
    position: absolute;
    margin-top: -60px;
    
}
.icons{
    display: inline;
    margin-left: 20px;
}
.p5{
    margin-left: 10%;
}

